*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* general rules */
body{
    background-color: #b91450;
    font-family: 'Open Sans', sans-serif;
}
h2{
    color: white;
    text-align: center;
    padding: 20px;
}
h3{
    width: 100%;
}
label{
    display: inline-block;
    color: #b91450;
    padding: 5px;
    font-weight: 600;
}
button{
    font-size: 20px;
    font-weight: 600;
    color:#b91450;
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px;
}
.ticket-container .ticket-cell-formatting span:not(#passenger-name){
    display: inline-block;
    padding: 30px 0 0;
    font-weight: 400;
}
input.input-formatting, select.input-formatting{
    padding: 7px 30px;
    border: 1px solid #b91450;
    border-radius: 5px;
    text-align: center;
}
/* /general rules */

/* section dati biglietto */
.container-form-dati, .container-form-biglietto{
    display: flex;
    flex-wrap: wrap;
    justify-content:center ;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 8px 3px rgba(00,00,00,0.5);
    width: 70%;
    margin: auto;
}
.container-form-dati .input-form-data-formatting{
    text-align: center;
    padding: 25px;
}
.container-form-dati .button-section{
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
}
/* sezione bottoni */
.container-form-dati .button-section{
    margin-top: 30px;
}
button:hover{
    color: white;
    background-color: grey;
    cursor: pointer;
}
/* /sezione bottoni */
/* sezione hover e focus */
.container-form-dati .input-form-data-formatting #number:focus{
    background-color: #b91450;
}

/* /sezione hover e focus */

/* /section dati biglietto */
/* sezione costo biglietto */
.container-form-biglietto{
    padding: 0px 10px 20px;
    border-radius: 0;
    padding: 20px;
    display: none;
}
.container-form-biglietto .ticket-container{
    border: 1px solid black;
    border-left: 0;
    border-right: 0;
    width: 100%;
    height: 100%;
    display: flex;    
    justify-content: space-between;
}
.ticket-container .passenger-name{
    background-color: grey;
    justify-self: flex-end;
    padding-bottom: 40px;
}
.ticket-cell-formatting{
    padding: 20px;
}
/* /sezione costo biglietto */

.open{
    display: flex;
}
