*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* general rules */
body{
    background-color: #b91450;
    font-family: 'Open Sans', sans-serif;
}
h2{
    color: white;
    text-align: center;
    padding: 20px;
}
h3{
    width: 100%;
}
label{
    display: inline-block;
    color: #b91450;
    padding: 5px;
    font-weight: 600;
}
/* /general rules */

/* section user dati */
.container-form-dati, .container-form-biglietto{
    display: flex;
    flex-wrap: wrap;
    justify-content:center ;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 8px 3px rgba(00,00,00,0.5);
    width: 80%;
    margin: auto;
}
.container-form-dati .input-form-data-formatting{
    text-align: center;
    padding: 25px;
}
.container-form-dati .button-section{
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
}
/* /section user dati */
/* sezione costo biglietto */
.container-form-biglietto{
    padding: 0px 10px 20px;
}
.container-form-biglietto .ticket-container{
    border: 1px solid black;
    width: 100%;
    display: flex;
}
.ticket-container .passenger-name{
    background-color: lightgrey;
    justify-self: flex-end;
    padding-bottom: 80px;
}
.ticket-cell-formatting{
    padding:20px;
}
/* /sezione costo biglietto */
